<!doctype html>
<html lang="en">

<head>
    {{> head}}
    <link rel="stylesheet" href="/styles/loginregister.css">
</head>

<body>
    {{> navbar}}

    {{> header}}

    <main>
        <div class="container">
            <!--Form to log in-->
            <form id="loginForm" name="loginForm" method="GET">
                <fieldset class="container border border-secondary p-3 rounded col-6">
                    <legend class="font-weight-light bg-secondary text-center text-white w-50 rounded">Log In</legend>
                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control" id="username" name="username" value="" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" value="" required>
                    </div>
                    <!--button to login-->
                    <button type="submit" class="btn btn-light blueBackground" id="login">Log In!</button>
                </fieldset>
            </form>
            <div id="msgDiv"></div>
        </div>
    </main>

    {{> footer}}

    {{> scripts}}

    <!--My JavaScript-->
    <script src="/scripts/loginregister.js"></script>
</body>

</html>